<style>
	/* dailbox side  */
	.modal-right .modal-dialog {
		/* top, right, bottom, left */
		margin: 1.70rem 0.5rem 1.70rem auto; 
	}

	.modal-right .modal-content {
		box-shadow: none !important;
		border: 1px solid #ccc;
		
	}
	/* dailbox side  */
    @media (min-width: 1200px) {
        .pt-xl-5 {
            padding-top: 3rem !important;
        }
    }
    .pt-3 {
        padding-top: 1rem !important;
    }
    section {
        display: block;
        padding-top: 3.5rem;
        padding-bottom: 2.8rem;
    }

    .g-4, .gy-4 {
        --bs-gutter-y: 1.6rem;
    }
    .g-4, .gx-4 {
        --bs-gutter-x: 1.6rem;
    }

    @media (min-width: 1200px) {
        .col-xl-8 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 66.66666667%;
        }
    }

    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .mb-0 {
        margin-bottom: 2 !important;
    }

    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }
    @media (min-width: 576px) {
        .mb-sm-0 {
            margin-bottom: 0 !important;
        }
    }
    .fw-light {
        font-weight: 400 !important;
    }
   .mb-1 {
         margin-bottom: 0.25rem !important;
    }
    .me-3 {
        margin-right: 1rem !important;
    }
    .list-inline-item {
        display: inline-block;
    }
    .me-2 {
        margin-right: 0.5rem !important;
    }
    .fa, .fas {
        font-weight: 900;
    }

    /* <!-- **************** RIGHT SIDE CONTENT START **************** --> */
    @media (min-width: 1200px) {
        .col-xl-4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }

    @media (min-width: 1200px) {
        .col-xl-12 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 100%;
        }
    }
        /* @media (min-width: 768px) {
        .col-md-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 50%;
        }
    } */

     .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .mt-3 {
        margin-top: 1rem !important;
    }
    .d-grid {
        display: grid !important;
    }
    
    /* .btn {
        letter-spacing: 0.5px;
        position: relative;
        overflow: hidden;
        outline: 0;
        white-space: nowrap;
        margin-bottom: 6px;
    } */
   
    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .border-0 {
        border: 0 !important;
    } 
    .list-group {
        --bs-list-group-color: var(--bs-gray-600);
        --bs-list-group-bg: transparent;
        --bs-list-group-border-color: var(--bs-border-color);
        --bs-list-group-border-width: var(--bs-border-width);
        --bs-list-group-border-radius: 0.325rem;
        --bs-list-group-item-padding-x: 1rem;
        --bs-list-group-item-padding-y: 0.5rem;
        --bs-list-group-action-color: var(--bs-secondary-color);
        --bs-list-group-action-hover-color: var(--bs-emphasis-color);
        --bs-list-group-action-hover-bg: rgba(var(--bs-primary-rgb), 0.1);
        --bs-list-group-action-active-color: var(--bs-body-color);
        --bs-list-group-action-active-bg: rgba(var(--bs-primary-rgb), 0.1);
        --bs-list-group-disabled-color: var(--bs-secondary-color);
        --bs-list-group-disabled-bg: var(--bs-body-bg);
        --bs-list-group-active-color: #fff;
        --bs-list-group-active-bg: #066ac9;
        --bs-list-group-active-border-color: #066ac9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: var(--bs-list-group-border-radius);
    }
    .list-group-borderless .list-group-item {
        border: none !important;
        padding: 0.425rem 0;
    }
    .list-group-item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .px-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .list-group .list-group-item i, .list-group .list-group-item span {
        margin-right: 5px;
    }
        /* profile */
    @media (min-width: 576px) {
        .d-sm-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .avatar {
        height: 3rem;
        width: 3rem;
        position: relative;
        display: inline-block !important;
    }
    .avatar-xl {
        height: 5.125rem;
        width: 5.125rem;
    }

    @media (min-width: 768px) {
        .col-md-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 50%;
        }
    }
    @media (min-width: 1200px) {
        .col-xl-12 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .p-4 {
        padding: 1.5rem !important;
    }

    .border {
        border: 1px solid #dee2e6 !important;
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
    .mb-0 {
        margin-bottom: 0 !important;
    }

    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    ol, ul, dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 8px;
    }
    .mb-0 {
        margin-bottom: 0 !important;
    }

    .list-inline-item {
        display: inline-block;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }
    .list-inline {
        padding-left: 0;
        list-style: none;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
    }
    .list-inline-item {
        display: inline-block;
    }
    .btn-sm, .btn-group-sm > .btn {
        --bs-btn-padding-y: 0.4rem;
        --bs-btn-padding-x: 0.8rem;
        --bs-btn-font-size: 0.8125rem;
        --bs-btn-border-radius: 0.2rem;
    }
    .btn-outline-light-list {
        background: #00000000;
        border-color: #cfd3d7;
        color: #747579;
    }
    .btn-line {
        letter-spacing: 0.5px;
        position: relative;
        overflow: hidden;
        outline: 0;
        white-space: nowrap;
        margin-bottom: 6px;
    }

    .btn-sm, .btn-group-sm > .btn-line {
        --bs-btn-padding-y: 0.4rem;
        --bs-btn-padding-x: 0.8rem;
        --bs-btn-font-size: 0.8125rem;
        --bs-btn-border-radius: 0.2rem;
    }
    /* .btn:hover {
        color: #000;
        background-color: #cfd3d7;
        border-color: #f5f7f9;
    } */

	/* .btn:hover {
		color: #fff;
		background-color: #0aa073;
		border-color: #0a966c;
	} */

    /* 	<!-- Course detail START --> */
    .nav-pills {
        --bs-nav-pills-border-radius: 0.325rem;
        --bs-nav-pills-link-active-color: #fff;
        --bs-nav-pills-link-active-bg: #066ac9;
    }
    .nav-pills-bg-soft {
        background-color:#44425a;
        padding: 0.625rem 0;
        border-radius: 0.625rem;
    }
    .px-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
    }
    @media (min-width: 576px) {
        .me-sm-4 {
            margin-right: 1.6rem !important;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: white;
        background-color:#FF6600 ;
    }
    .nav-pills .nav-link {
        cursor: pointer;
        margin-bottom: 15px;
        padding: 0.5rem 1rem;
    }
    .nav-link {
        display: block;
        padding: 0.75rem 0.25rem;;
        font-size: 16px;
        font-weight: 500;
        color: white;
        background: none;
        border: 0;
        -webkit-transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out;
        transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out;
    }

    .mb-4 {
        margin-bottom: 1.6rem !important;
    }
    .w-100 {
        width: 100% !important;
    }
	.form-control-input {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-gray-700);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: 1px solid var(--bs-gray-300);
        border-radius: 0.325rem;
        -webkit-transition: border-color 0.15sease-in-out, -webkit-box-shadow 0.15sease-in-out;
        transition: border-color 0.15sease-in-out, -webkit-box-shadow 0.15sease-in-out;
        transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
        transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out, -webkit-box-shadow 0.15sease-in-out;
    }
    textarea.form-control-input {
        min-height: calc(1.5em + 1rem + 2px);
    }
    .pe-4 {
        padding-right: 1.6rem !important;
    }
    .bg-light-panel {
        --bs-bg-opacity: 1;
        --bs-light-rgb: 245, 247, 249;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }

    textarea {
        resize: vertical;
        margin-right: 10px;
    }
    .avatar-img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    img {
        max-width: 100%;
        height: auto;
    }
	@media (min-width: 576px) {
		.ms-sm-3 {
			margin-left: 1rem !important;
		}
	}
	@media (min-width: 576px) {
		.mt-sm-0 {
			margin-top: 0 !important;
		}
	}
	a:hover {
		color: var(--bs-primary);
		text-decoration: none;
	}

	.mb-0 {
		margin-bottom: 0 !important;
	}
	small, .small {
		font-weight: 400;
	}

	/* 	<!-- Responsive offcanvas body START --> */
		.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
			--bs-offcanvas-zindex: 1045;
			--bs-offcanvas-width: 400px;
			--bs-offcanvas-height: 30vh;
			--bs-offcanvas-padding-x: 1.875rem;
			--bs-offcanvas-padding-y: 1rem;
			--bs-offcanvas-color: var(--bs-body-color);
			--bs-offcanvas-bg: var(--bs-body-bg);
			--bs-offcanvas-border-width: var(--bs-border-width);
			--bs-offcanvas-border-color: var(--bs-border-color-translucent);
			--bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
			--bs-offcanvas-transition: transform 0.3sease-in-out;
			--bs-offcanvas-title-line-height: 1.5;
		}

	@media (min-width: 992px) {
		.offcanvas-lg {
			--bs-offcanvas-height: auto;
			--bs-offcanvas-border-width: 0;
			background-color: transparent !important;
		}
	}
	@media (min-width: 992px) {
		.offcanvas-lg .offcanvas-header {
			display: none;
		}
	}
	/* .bg-dark {
		--bs-bg-opacity: 1;
		background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
	} */
	 .offcanvas-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding:  1rem  1.875rem;
	}
	.text-white {
		color: rgba(255, 255, 255, 1) !important;
	}

	.offcanvas-title {
			margin-bottom: 0;
			line-height: 1.5;
	}
	@media (min-width: 1200px) {
		h5, .h5 {
			font-size: 1.3125rem;
		}
	}
	button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
		cursor: pointer;
	}

	/* .btn {
		letter-spacing: 0.5px;
		position: relative;
		overflow: hidden;
		outline: 0;
		white-space: nowrap;
		margin-bottom: 6px;
	} */

	 .btn-sm, .btn-group-sm > .btn {
		--bs-btn-padding-y: 0.4rem;
		--bs-btn-padding-x: 0.8rem;
		--bs-btn-font-size: 0.8125rem;
		--bs-btn-border-radius: 0.2rem;
	}

	@media (min-width: 992px) {
		.offcanvas-lg .offcanvas-body {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			padding: 0;
			overflow-y: visible;
			background-color: transparent !important;
		}
	}
	@media (min-width: 992px) {
		.p-lg-0 {
			padding: 0 !important;
		}
	}
	.col-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}

	.accordion {
		--bs-accordion-color:  #747579;
		--bs-accordion-bg:  #fff;
		--bs-accordion-transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out, box-shadow 0.15sease-in-out, border-radius 0.15sease;
		--bs-accordion-border-color:  #495057;
		--bs-accordion-border-width: 1px;
		--bs-accordion-border-radius: 0.325rem;
		--bs-accordion-inner-border-radius: calc(0.325rem - 1px;);
		--bs-accordion-btn-padding-x: 1.25rem;
		--bs-accordion-btn-padding-y: 1rem;
		--bs-accordion-btn-color:  #747579;
		--bs-accordion-btn-bg:  #fff;
		--bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23747579'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
		--bs-accordion-btn-icon-width: 1.25rem;
		--bs-accordion-btn-icon-transform: rotate(-180deg);
		--bs-accordion-btn-icon-transition: transform 0.2sease-in-out;
		--bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055fb5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
		--bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(6, 106, 201, 0.25);
		--bs-accordion-body-padding-x: 1.25rem;
		--bs-accordion-body-padding-y: 1rem;
		--bs-accordion-active-color: #055fb5;
		--bs-accordion-active-bg:  #cde1f4;
	}
	.accordion.accordion-bg-light .accordion-item {
		border: none;
		background-color: transparent;
	}

	.accordion .accordion-item {
		color: #747579;
	}

	.accordion-item:first-of-type {
		border-top-left-radius: 0.325rem;
		border-top-right-radius: 0;

		/* border-top-right-radius: 0;
  		border-bottom-right-radius: 0; */
	}

	.mb-3 {
		margin-bottom: 1rem !important;
	}

	.accordion.accordion-icon .accordion-header {
		position: relative;
	}

	.font-base {
		font-family: "Roboto", sans-serif !important;
	}
	.accordion-header {
		margin-bottom: 0;
	}

	.accordion-button {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		padding: 1.25rem 1rem;

		font-size: 0.9375rem;
		color:  #dee2e6;
		text-align: left;
		background-color: 116, 117, 121;
		border: 0;
		border-radius: 0;
		overflow-anchor: none;
		-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	}

	.accordion.accordion-icon .accordion-header .accordion-button {
		background: transparent;
		border: none;
	}
	.accordion-item:first-of-type > .accordion-header .accordion-button {
		border-top-left-radius: 0.325rem;
		border-top-right-radius: 0;
	}

	.accordion.accordion-bg-light .accordion-button {
		background-color: #f5f7f9 !important;
		color: #24292d !important;
	}

	.accordion .accordion-button {
		text-align: left;
	}
	.rounded {
		border-radius: 0.325rem; !important;
	}

	.fw-bold {
		font-weight: 700 !important;
	}
	.d-block {
		display: block !important;
	}


	h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {
		color: var(--bs-gray-800);
	}
	a {
		-webkit-transition: all 0.3sease-in-out;
		transition: all 0.3sease-in-out;
		/* color: 6, 106, 201 , var(--bs-link-opacity, 1); */
		text-decoration: none;
	}

	.rounded {
		border-radius: var(--bs-border-radius) !important;
	}
	.fw-bold {
		font-weight: 700 !important;
	}
	.d-block {
		display: block !important;
	}

	small, .small {
		font-weight: 400;
	}
	.mt-1 {
    	margin-top: 0.25rem !important;
	}

	.d-block {
		display: block !important;
	}
	.accordion.accordion-icon .accordion-collapse {
		border: none;
	}
	.accordion.accordion-icon .accordion-body {
		padding: 0.2rem 0.5rem 0.5rem 1rem;
	}
	.mt-3 {
		margin-top: 1rem !important;
	}
	.accordion-body {
		padding: 1.25rem 1rem;
	}
	.gap-3 {
		gap: 1rem !important;
	}
	.vstack {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-ms-flex-item-align: stretch;
			align-self: stretch;
	}
	 .overflow-hidden {
		will-change: transform;
	}
	.overflow-hidden {
		overflow: hidden !important;
	}
	.mb-1 {
		margin-bottom: 0.25rem !important;
	}

	h6, .h6 {
		font-size: 0.9375rem;
	}
	.text-end {
    	text-align: right !important;
	}
	.progress {
		position: relative;
		overflow-x: visible;
		overflow-y: visible;
	}

	.progress.progress-sm {
		height: 5px;
	}

	.bg-opacity-10 {
		--bs-bg-opacity: 0.1;
	}

	[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
		transition-delay: .2s;
	}

	[data-aos^=slide][data-aos^=slide].aos-animate {
		transform: translateZ(0);
	}

	[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
		transition-timing-function: ease-in-out;
	}

	[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
		transition-duration: 1s;
	}
	.btn-round.btn-sm, .btn-group-sm > .btn-round.btn {
		height: 32px;
		width: 32px;
		line-height: 30px;
	}
	.btn-danger-soft {
		color: #d6293e;
		background-color: rgba(214, 41, 62, 0.1);
	}
	.btn-round {
		height: 40px;
		width: 40px;
		line-height: 40px;
		border-radius: 50%;
		padding: 0;
		text-align: center;
	}
	.position-static {
		position: static !important;
	}
	.w-200px {
		width: 200px !important;
	}

	.ms-2 {
		margin-left: 0.5rem !important;
	}

	.mb-0 {
		margin-bottom: 0 !important;
	}
	.d-inline-block {
		display: inline-block !important;
	}

	.text-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.btn-round.btn-sm, .btn-group-sm > .btn-round.btn {
		height: 32px;
		width: 32px;
		line-height: 30px;
	}

	.bg-opacity-10 {
		--bs-bg-opacity: 0.1;
	}
	.rounded-3 {
		border-radius: 0.5rem !important;
	}
	.bg-success {
		--bs-bg-opacity: 1;
		background-color: rgba(12, 188, 135, var(--bs-bg-opacity)) !important;
		}


	/* comment */
		.scrollable-comments {
		max-height: 400px;
		overflow-y: auto;
		padding-right: 10px;
	}

	.scrollable-comments::-webkit-scrollbar {
		width: 8px;
	}

	.scrollable-comments::-webkit-scrollbar-thumb {
		background-color: #aaa;
		border-radius: 4px;
	}

	.scrollable-comments::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	.media {
		display: flex;
		align-items: flex-start;
	}

	.media img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.media-body {
		background: #f8f9fa;
		padding: 10px;
		border-radius: 10px;
	}

	h6 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	small i {
		font-size: 12px;
		color: gray;
	}


	.form-control {
		border-radius: 10px;
		resize: none;
	}

	.btn-primary {
		border: none;
		border-radius: 5px;
	}

	.input-group_reply {
		margin-top: -49px;
	}
	.review-scroll-container {
		max-height: 400px;
		overflow-y: auto;
		padding-right: 10px; /* optional for scrollbar spacing */
	}

</style>
<!-- **************** MAIN CONTENT START **************** -->

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<main>



<section class="pt-10 pt-xl-5">
	<div class="container" data-sticky-container>
		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-8">

				<div class="row g-4">
					<!-- Title START -->
					<div class="col-12">
						<!-- Title -->
						<h2><%= @courses.try(:title) %></h2>
					</div>
					<!-- Title END -->

					<!-- Image and video -->
					<div class="col-12 position-relative">
						<div class="video-player rounded-3">
							<video controls crossorigin="anonymous" playsinline poster="assets/images/videos/poster.jpg">
								<source src="assets/images/videos/360p.mp4" type="video/mp4" size="360">
								<source src="assets/images/videos/720p.mp4" type="video/mp4" size="720">
								<source src="assets/images/videos/1080p.mp4" type="video/mp4" size="1080">
								<!-- Caption files -->
								<track kind="captions" label="English" srclang="en" src="assets/images/videos/en.vtt" default>
								<track kind="captions" label="French" srclang="fr" src="assets/images/videos/fr.vtt">
							</video>
						</div>
					</div>

					<!-- Course detail START -->
					<div class="col-12">

                        <!-- Content -->
						<% @average_rating = @courses.reviews.average(:rating)&.round(1) || 0 %>
						<ul class="list-inline mb-0">
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star me-2"></i><%= @average_rating %> / 5</li>
							<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate me-2"></i>12k Enrolled</li>
							<% if @courses.try(:level).present? %>
								<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal me-2"></i><%= @courses.try(:level)%></li>
							<% end %>
							<% if @courses.try(:updated_at).present? %>
								<li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill me-2"></i>Last updated <%= @courses.try(:updated_at).strftime("%b %d %Y") %></li>
							<% end %>
							<% if @courses.try(:language).present? %>
								<li class="list-inline-item fw-light h6"><i class="fas fa-globe me-2"></i><%= @courses.try(:language) %></li>
							<% end %>
						</ul>

						<!-- Tabs START -->
						<ul class="nav nav-pills nav-pills-bg-soft px-3" id="course-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<a class="nav-link mb-0 active" id="course-pills-tab-1" data-toggle="pill"href="#course-pills-1"  role="tab" aria-controls="course-pills-1" aria-selected="true">Overview</a>
							</li>

																			<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<a class="nav-link mb-0" id="course-pills-tab-2" data-toggle="pill" href="#course-pills-2"  role="tab" aria-controls="course-pills-2" aria-selected="false">Curriculum</a>
							</li>

							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<a class="nav-link mb-0" id="course-pills-tab-3" data-toggle="pill" href="#course-pills-3"  role="tab" aria-controls="course-pills-3" aria-selected="false">Reviews</a>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<a class="nav-link mb-0" id="course-pills-tab-4" data-toggle="pill" href="#course-pills-4"  role="tab" aria-controls="course-pills-4" aria-selected="false">FAQs </a>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<a class="nav-link mb-0" id="course-pills-tab-5" data-toggle="pill" href="#course-pills-5"  role="tab" aria-controls="course-pills-5" aria-selected="false">Comment</a>
							</li>
						</ul>
						<!-- Tabs END -->

						<!-- Tab contents START -->
                        
						<div class="tab-content pt-4 px-3" id="course-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">

								<!-- Course detail START -->

								<h5 class="mb-3">Course Description</h5>
								<h5 class="mb-3"><%= @courses.try(:overview).to_s.gsub(/\s*border="1"/, "").html_safe %></h5>
								<!-- Course detail END -->

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">

								<!-- Course detail START -->

								<h5 class="mb-3">Course Description</h5>

								<!-- Responsive offcanvas body START -->
								<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
							
									<div class="offcanvas-body p-3 p-lg-0">
										<div class="col-12">

											<!-- Accordion START -->
											<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
												<!-- Item -->
												<%  @courses.try(:quiz_topics).order(:sequence).each do |quiz_topic| %>
												<div class="accordion-item mb-3">
													<h6 class="accordion-header font-base" id="heading-1">
														<a class="accordion-button fw-bold rounded collapsed d-block" href="#collapse-1" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
															<span class="mb-0"><%= quiz_topic.try(:title) %></span> 
															<span class="small d-block mt-1">(<%= quiz_topic.try(:lessons).size()  %> Lectures)</span> 
														</a>
													</h6>
													<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-parent="#accordionExample2">
														<div class="accordion-body mt-3">
															<div class="vstack gap-3">

																<!-- Progress bar -->
																<div class="overflow-hidden">
																	<div class="d-flex justify-content-between">
																		<%# <p class="mb-1 h6">1/3 Completed</p>
																		<h6 class="mb-1 text-end">30%</h6> %>
																	</div>
																	<%# <div class="progress progress-sm bg-primary bg-opacity-10">
																		<div class="progress-bar bg-primary aos" role="progressbar" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
																		</div>
																	</div> %>
																</div>
																<% quiz_topic.try(:lessons).present?  && quiz_topic.try(:lessons).where(is_published: true).order(:sequence).each do |lesson| %>
																<!-- Course lecture -->
																<div class="d-flex justify-content-between align-items-center">
																	<div class="position-relative d-flex align-items-center">
																		<a href="#" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
																			<i class="fas fa-play me-0"></i>
																		</a>
																		<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-200px"><%= lesson.try(:title) %></span>
																	</div>
																	<p class="mb-0 text-truncate"><%= lesson.try(:duration) %></p>
																</div>
																<% end %>

																<!-- Course lecture -->
																<%# <div class="p-2 bg-success bg-opacity-10 rounded-3">
																	<div class="d-flex justify-content-between align-items-center">
																		<div class="position-relative d-flex align-items-center">
																			<a href="#" class="btn btn-success btn-round btn-sm mb-0 stretched-link position-static">
																				<i class="fas fa-play me-0"></i>
																			</a>
																			<span class="d-inline-block text-truncate ms-2 mb-0 h6 fw-light w-200px"> What is Digital Marketing What is Digital Marketing</span>
																		</div>
																		<p class="mb-0 text-truncate">Playing</p>
																	</div>
																</div> %>

															</div>
														</div>
													</div>
												</div>
												<%  end  %>

											</div>
											<!-- Accordion END -->
										</div>
									</div>
								</div>
								<!-- Responsive offcanvas body END -->

								<!-- Course detail END -->

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
								<!-- Review START -->
								<div class="row mb-4">
									<h5 class="mb-4">Our Student Reviews</h5>

									<!-- Rating info -->
									<div class="col-md-4 mb-3 mb-md-0">
										<div class="text-center">
											<!-- Info -->
											
											<h2 class="mb-0"> <%= @average_rating %> /5</h2>
											<!-- Star -->
											<% rating = @average_rating.to_i %>
											<ul class="list-inline mb-0">
											<% 5.times do |i| %>
												<li class="list-inline-item me-0">
												<% if i < rating %>
													<i class="fas fa-star text-warning"></i>
												<% else %>
													<i class="far fa-star text-warning"></i>
												<% end %>
												</li>
											<% end %>
											</ul>
										
										</div>
									</div>

								</div>
								<!-- Review END -->

								<!-- Student review START -->
								<div class="row">
									<!-- Review item START -->
									<div class="review-scroll-container" style="max-height: 400px; overflow-y: auto; width: 100%;">
									<%@courses.try(:reviews).present? && @courses.try(:reviews).each do |review|%>
										<div class="d-md-flex my-4">
											<!-- Avatar -->
											<div class="avatar avatar-xl me-4 flex-shrink-0">
												<img class="avatar-img rounded-circle" src="<%= url_for(review.user.avatar)%>" alt="avatar">
											</div>
											<!-- Text -->
											<div class="ml-5">
												<div class="d-sm-flex mt-1 mt-md-0 align-items-center">
													<h5 class="me-3 mb-0"><%= (review.user.name)%></h5>
													<!-- Review star -->
													<ul class="list-inline mb-0">
														<% rating = review.rating.to_i %>
														<% 5.times do |i| %>
															<li class="list-inline-item me-0">
															<% if i < rating %>
																<i class="fas fa-star text-warning"></i>
															<% else %>
																<i class="far fa-star text-warning"></i>
															<% end %>
															</li>
														<% end %>
													</ul>
												</div>
												<!-- Info -->
												<p class="small mb-2"><%= (review.created_at).strftime("%d %b %Y at %I:%M%p")%></p>
												<p class="mb-2"><%= (review.comment)%> </p>
											</div>
										</div>
									<% end %>
									</div>
									<!-- Divider -->
									<hr>
								</div>
								<!-- Student review END -->

								<!-- Leave Review START -->
								<div class="mt-2">
									<h5 class="mb-4">Leave a Review</h5>
									<form data-controller="review" data-action="submit->review#submit" class="row g-3">

									<!-- Rating -->
										<div class="col-12 mb-5">
											<select id="inputState2" name="rate"
													class="form-select border border-primary rounded shadow-sm js-choice"
													style="width: 100%; padding: 15px; background-color: white; color: #ff6600;"
													data-review-target="rate">
											<option value="5" selected>★★★★★ (5/5)</option>
											<option value="4">★★★★☆ (4/5)</option>
											<option value="3">★★★☆☆ (3/5)</option>
											<option value="2">★★☆☆☆ (2/5)</option>
											<option value="1">★☆☆☆☆ (1/5)</option>
											</select>
										</div>
										<!-- Message -->
										<div class="col-12 mb-3">
											<textarea class="form-control-input border"
													name="review"
													id="exampleFormControlTextarea1"
													placeholder="Your review"
													rows="3"
													data-review-target="review"></textarea>
										</div>

										<!-- Hidden Fields + Button -->
										<div class="col-12">
											<input type="hidden" name="user" value="<%= current_user.try(:id) %>" data-review-target="user">
											<input type="hidden" name="course" value="<%= @courses.try(:id) %>" data-review-target="course">
											<button type="submit" class="btn btn-primary mb-0">Post Review</button>
										</div>
									</form>
								</div>
								<!-- Leave Review END -->

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-4" role="tabpanel" aria-labelledby="course-pills-tab-4">
								<!-- Title -->
								<h5 class="mb-3">Frequently Asked Questions</h5>
								<div class="review-scroll-container" style="max-height: 400px; overflow-y: auto;">
									<!-- FAQ item -->
									<% @courses.try(:faqs).present? && @courses.try(:faqs).each do |faq|%>
									<div class="mt-4">
										<h6><%= faq.try(:question) %> </h6>
										<p class="mb-0"><%= faq.try(:answer) %></p>
									</div>
									<% end %>
								</div>
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="course-pills-5" role="tabpanel" aria-labelledby="course-pills-tab-5">
								<!-- Review START -->
								<div class="row mb-4">
									<div class="col-12">
										<h5 class="mb-4">Ask Your Question</h5>

										<!-- Comment box -->
										<div class="d-flex mb-4">
											<!-- Avatar -->
											<div class="avatar avatar-sm flex-shrink-0 me-2">
												<a href="#"> <img class="avatar-img rounded-circle" src="http://127.0.0.1:3000/user.png" alt=""> </a>
											</div>
												<div class="d-block mt-5">
													<div class="input-group input-group_reply">
												<%= form_with model: Comment.new, url: event_course_comments_path(params[:event_id], @courses), local: true, class: "w-100 d-flex mb-5" do |f| %>
													<%= f.text_area :content, placeholder: "Add a comment...", class: "one form-control-input bg-light-panel", rows: 1 ,id: "autoheighttextarea" %>
													<%= f.hidden_field :course_id, value: @courses.id %>
													<button class="btn btn-primary ms-2 mb-0" type="submit">Post</button>
												<% end %>
														<%= render @courses.comments.where(parent_id: nil), partial: "comments/comment" %>
													</div>
												</div>
										</div>
									</div>

								</div>
							</div>
							<!-- Content END -->
						</div>
						<!-- Tab contents END -->
					</div>
					<!-- Course detail END -->

				</div>

			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="768">
					<div class="row g-4">
						<div class="col-md-6 col-xl-12">
							<!-- Course info START -->
							<div class="card card-body border p-4">
								<!-- Price and share button -->
								<div class="d-flex justify-content-round align-items-center">
									<!-- Price -->
									<% if @courses.try(:is_paid).present? %>
										<h3 class="fw-bold mb-0 me-2">Price: <%= @courses.try(:ticket).try(:price) %></h3>
										<small><%= @courses.try(:ticket).try(:currency).titleize %> </small>
									<% end %>
									<!-- favorite_button -->
									<small class="m-0 ml-2">
										<div class="favorite-link_<%= @courses.try(:id) %>">
											<%= render partial: "course/favorite_button", locals: { course: @courses, event: @event }%>
										</div>
									</small>
								</div>
									
								<!-- Buttons -->
								<div class="mt-3 d-grid">
									<a href="#" class="btn btn-outline-primary mb-2">Add to cart</a>
									<% if @courses.try(:is_paid).present? %>
										<a href="#" class="btn btn-success mb-2">Buy now</a>
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notesModel" data-backdrop="false" data-keyboard="false">
											Add Notes
										</button>
									<% else %>
										<a href="#" class="btn btn-success mb-2">Enroller</a>
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notesModel" data-backdrop="false" data-keyboard="false">
											Add Notes
										</button>
									<% end %>
								</div>
								<!-- Divider -->
								<hr>

								<!-- Title -->
								<h5 class="mb-3">This course includes</h5>
								<ul class="list-group list-group-borderless border-0">
									<% if @quiz_topic_size.present?   %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Lectures</span>
										<span><%= @quiz_topic_size %></span>
									</li>
									<% end %>
									<% if @courses.try(:duration).present?  %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Duration</span>
										<span> <%=  @courses.try(:duration) %></span>
									</li>
									<% end %>
									<% if @courses.try(:level).present? %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Skills</span>
										<span><%= @courses.try(:level) %></span>
									</li>
									<% end %>
									<% if @courses.try(:language).present? %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Language</span>
										<span><%= @courses.try(:language) %></span>
									</li>
									<% end %>
									<% if @courses.try(:valid_from).present? %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Deadline</span>
										<span><%= @courses.try(:valid_from).strftime("%b %d %Y") %></span> 
									</li>
									<% end %>
									<li class="list-group-item px-0 d-flex justify-content-between">
										<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Certificate</span>
										<span><%= @courses.try(:has_download_certificate) == true ? "Yes" : "No" %></span>
									</li>
								</ul>
								<!-- Divider -->
								<hr>

								<!-- Instructor info -->
								<div class="d-sm-flex align-items-center">
									<!-- Avatar image -->
									<div class="avatar avatar-xl">
										<img class="avatar-img rounded-circle" src="<%= url_for( @courses.try(:teacher).try(:image).present? ?  @courses.try(:teacher).try(:image) : "http://127.0.0.1:3000/user.png" )  %>" alt="avatar">
									</div>
									<div class="ms-sm-3 mt-2 mt-sm-0">
										<h5 class="mb-0"><a href="#"><%= @courses.try(:teacher).try(:name) %></a></h5>
										<p class="mb-0 small"><%= @courses.try(:teacher).try(:position) %></p>
									</div>
								</div>

								<!-- Rating and follow -->
								<div class="d-sm-flex justify-content-sm-between align-items-center mt-0 mt-sm-2">
									<!-- Rating star -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
										<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
										<li class="list-inline-item ms-2 h6 fw-light mb-0">4.5/5.0</li>
									</ul>

									<!-- button -->
									<%# <button class="btn btn-sm btn-primary mb-0 mt-2 mt-sm-0">Follow</button> %>
								</div>
							</div>
							<!-- Course info END -->
						</div>

						<!-- Tags START -->
						<div class="col-md-6 col-xl-12 mt-3">
							<div class="card card-body border p-4">
								<h4 class="mb-3">Popular Tags</h4>
								<ul class="list-inline mb-0">
									<%  @courses.try(:tags).to_s.split(',').each do |tag|%>
									<li class="list-inline-item"> <a class="btn btn-line btn-outline-light-list btn-sm" href="#"><%= tag %></a> </li>
									<% end %>
								</ul>
							</div>	
						</div>
						<!-- Tags END -->
					</div>
				</div>	
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Modal -->
<div class="modal modal-right" id="notesModel" tabindex="-1" role="dialog" style="pointer-events: none;">
  <div class="modal-dialog" role="document" style="pointer-events: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @courses.try(:title) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-user-notes" action="<%= user_notes_path %>" method="POST">
        <div class="modal-body">
          <input type="hidden" name="user_id" value="<%= current_user.try(:id) %>">
          <input type="hidden" name="event_id" value="<%= current_user.try(:current_event_id) %>">
          <input type="hidden" name="course_id" value="<%= @courses.try(:id) %>">
          
          <div class="form-group">
            <label for="subject" class="col-form-label">Subject:</label>
            <input type="text" class="form-control" name="subject" id="subject">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Content:</label>
            <textarea class="form-control" name="description" id="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save changes" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#course-pills-tab a'))
        triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>