<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <% carousels.each_with_index do |carousel, index| %>
                <li data-target="#header-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% carousels.each_with_index do |carousel, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>" style="min-height: 300px;">
                    <% if carousel.gallery.attached? %>
                        <img class="position-relative w-100" src="<%= url_for(carousel.gallery) %>" style="min-height: 300px; object-fit: cover;">
                    <% end %>
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3"><%= carousel.title %></h5>
                            <h1 class="display-3 text-white mb-md-4"><%= carousel.description %></h1>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>