<style>
    .form-outline {
    position: relative;
    margin-bottom: 1.5rem;
}


</style>
<div style="width: <%= item.is_single_column ? '100%' : '50%' %>;">
  <% case item.data_field %>
  <% when "email" %>
    <div class="col-md-12 mb-4">
      <div class="form-outline m-3">
        <%= f.label item.field_type, item.caption, class: "form-label" %>
        <%= f.email_field item.field_type, class: "form-control form-control-lg", placeholder: item.placeholder, required: item.is_required %>
        <small class="form-text text-muted d-block mt-1">Hint: <%= item.field_hint %></small>
      </div>
    </div>

  <% when "password" %>
    <div class="col-md-12 mb-4">
      <div class="form-outline m-3">
        <%= f.label item.field_type, item.caption, class: "form-label" %>
        <%= f.password_field item.field_type, class: "form-control form-control-lg", placeholder: item.placeholder, required: item.is_required %>
        <small class="form-text text-muted d-block mt-1">Hint: <%= item.field_hint %></small>
      </div>
    </div>

  <% when "number" %>
    <div class="col-md-12 mb-4">
      <div class="form-outline m-3">
        <%= f.label item.field_type, item.caption, class: "form-label" %>
        <%= f.number_field item.field_type, class: "form-control form-control-lg", placeholder: item.placeholder, required: item.is_required %>
        <small class="form-text text-muted d-block mt-1">Hint: <%= item.field_hint %></small>
      </div>
    </div>

  <% when "radio" %>
    <div class="col-md-12 mb-4">
      <div class="form-outline m-3">
        <label class="form-label d-block"><%= item.caption %>:</label>
        <% item.form_field_choices&.each_with_index do |choice, idx| %>
          <div class="form-check form-check-inline">
            <%= f.radio_button item.field_type, choice.caption, id: "#{item.data_field}-#{index}-#{idx}", class: "form-check-input", checked: idx == 0, required: item.is_required %>
            <%= f.label "#{item.data_field}-#{index}-#{idx}", choice.caption, class: "form-check-label fw-bold text-primary" %>
          </div>
        <% end %>
        <small class="form-text text-muted d-block mt-1">Hint: <%= item.field_hint %></small>
      </div>
    </div>

  <% when "hidden" %>
    <%= f.hidden_field item.field_type, value: item.value %>
  <% end %>
</div>
