    <% if @event.try(:hide_gallery) == true %>
        <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-13">
                    <div class="d-flex justify-content-sm-between">
                        <%= (@event.try(:gallery_text)).to_s.gsub(/\s*border="1"/, "").html_safe %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% else %>
        <%= render partial: "caraousel" , locals: { carousels: @caraousel_data } %>
    <% end %> 

    <% if @event.try(:hide_about_page) == true %>
    <% else %>

        <%= render partial: "about", locals: { event: @event } %>
    <% end %> 

    <% if @event.try(:hide_courses) == true%>
    <% else %>
      <%= render partial: "courses", locals: { courses_data: @courses } %>
    <% end %> 

    <% if @event.try(:hide_teacher_page) == true %>
    <% else %>
        <%= render partial: "teacher", locals: { teacher_data: @teacher_data } %>
    <% end %> 

    <% if @event.try(:hide_info) == true %>
    <% else %>
     <%= render partial: "testimonial", locals: { event: @event } %>
    <% end %> 
        
    <% if @event.try(:hide_category) == true %>
    <% else %>
        <%= render partial: "category", locals: { categories_data: @categories_data } %>
    <% end %> 

    <% if @event.try(:description).present?%>
        <div class="container">
            <%=  @event.try(:description).html_safe%>
        </div>
    <% end %> 