


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row pb-3">
                        <% @blogs.each do |blog| %>
                            <div class="col-lg-6 mb-4">
                                <div class="blog-item position-relative overflow-hidden rounded mb-2">
                                    <img class="img-fluid" src="<%= url_for(blog.image)%>" alt="">
                                    <a class="blog-overlay text-decoration-none" href="<%= event_blog_path(blog.event, blog)%>">
                                        <h5 class="text-white mb-3"><%= blog.try(:title)%></h5>
                                        <p class="text-primary m-0"><%= blog.try(:created_at).strftime("%Y-%m-%d") %></p>
                                        <small class="text-primary m-0"> created_by :<%= blog.try(:user).try(:name) %></small>
                                    </a>
                                </div>
                            </div>
                        <%end %>
                    </div>
                </div>
    
                <div class="col-lg-4 mt-5 mt-lg-0">
    
    
                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                                <span class="badge badge-primary badge-pill">150</span>
                            </li>

                        </ul>
                    </div>
    
                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                        <% @blogs.each do |blog| %>
                            <a class="d-flex align-items-center text-decoration-none mb-3" href="<%= event_blog_path(blog.event, blog)%>">
                                <img class="img-fluid rounded" src="<%= url_for(blog.image.variant(resize_to_limit: [80, 80]))%>" alt="<%= blog.try(:title)%>">
                                <div class="pl-3">
                                    <h6 class="m-1"><%= blog.try(:title)%></h6>
                                    <small><%= blog.try(:created_at).strftime("%Y-%m-%d") %></small>
                                </div>
                            </a>
                        <%end %>
                    </div>
    
                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-outline-primary m-1">Design</a>
                            <a href="" class="btn btn-outline-primary m-1">Development</a>
                            <a href="" class="btn btn-outline-primary m-1">Marketing</a>
                            <a href="" class="btn btn-outline-primary m-1">SEO</a>
                            <a href="" class="btn btn-outline-primary m-1">Writing</a>
                            <a href="" class="btn btn-outline-primary m-1">Consulting</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

