<style>
    /* Comment Section */
.media {
    display: flex;
    align-items: flex-start;
}

.media img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.media-body {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

small i {
    font-size: 12px;
    color: gray;
}

/* Reply Section */
.media .media {
    margin-left: 50px;
    border-left: 2px solid #ddd;
    padding-left: 15px;
}

.form-control {
    border-radius: 10px;
    resize: none;
}

.btn-primary {
    /* background: #007bff; */
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background: #0056b3;
}

.input-group_reply {
    margin-top: -25px;
}

</style>
        <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <%= @blog.try(:content).try(:html_safe) %>
                    </div>

                    <!-- Comment List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;"><%= @blog.comments.size %>Comments</h3>

                        <div class="d-block m-5">
                            <div class="input-group input-group_reply">
                                <%= form_with model: Comment.new, url: event_blog_comments_path(params[:event_id], @blog), local: true, class: "w-100" do |f| %>
                                    <div class="form-floating w-100">
                                        <%= f.text_area :content, placeholder: "Write a comment...", class: "form-control", rows: 3 %>
                                    </div>
                                    <%= f.hidden_field :blog_id, value: @blog.id %>
                                    <%= f.hidden_field :user_id, value: current_user.id %>
                                    <%= f.submit "Comment", class: "btn btn-primary ms-2 mt-2" %>
                                <% end %>
                            </div>
                        </div>

                        <% @blog.comments.where(parent_id: nil).each do |comment| %>
                            <div class="media mb-4">
                                <img src="<%= comment.user&.image.present? ? url_for(comment.user.image) : asset_path('default-avatar.jpg') %>" 
                                    alt="User Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><%= comment.user&.name %> <small><i><%= comment.created_at.strftime("%d %b %Y at %I:%M%p") %></i></small></h6>
                                    <p><%= comment.content %></p>

                                    <!-- Reply form -->

                                <div class="d-block m-5">
                                    <div class="input-group input-group_reply">
                                        <%= form_with model: Comment.new, url: event_blog_comments_path(params[:event_id], @blog), local: true do |f| %>
                                            <div class="form-floating w-100">
                                                <%= f.text_area :content, placeholder: "Reply to this comment..." , class: "form-control", rows: 3 %>
                                            </div>
                                            <%= f.hidden_field :blog_id, value: @blog.id %>
                                            <%= f.hidden_field :parent_id, value: comment.id %>
                                            <%= f.submit "Reply", class: "btn btn-primary ms-2 mt-2" %>
                                        <% end %>
                                    </div>
                                </div>
                                    <!-- Show nested replies -->
                                    <% comment.replies.each do |reply| %>
                                        <div class="media mt-4">
                                            <img src="<%= reply.user&.image.present? ? url_for(reply.user.image) : asset_path('default-avatar.jpg') %>" 
                                                alt="User Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6><%= reply.user&.name %> <small><i><%= reply.created_at.strftime("%d %b %Y at %I:%M%p") %></i></small></h6>
                                                <p><%= reply.content %></p>

                                                <!-- Nested reply form -->
                                                <div class="d-block m-5">
                                                    <div class="input-group">
                                                    <%= form_with model: Comment.new, url: event_blog_comments_path(params[:event_id], @blog), local: true do |f| %>
                                                        <div class="form-floating w-100">
                                                            <%= f.text_area :content, placeholder: "Reply to this comment..." , class: "form-control" %>
                                                        </div>
                                                        <%= f.hidden_field :blog_id, value: @blog.id %>
                                                        <%= f.hidden_field :parent_id, value: reply.id %>
                                                        <%= f.submit "Reply", class: "btn btn-primary ms-2 mt-2" %>
                                                    <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>

                    </div>
                </div>

                <%= render partial: "side_menu", locals: { categorys: @categorys  , blogs_recenlty: @blogs_recenlty} %>
  
            </div>
        </div>
    </div>
    <!-- Detail End -->

